button {
    opacity: .7;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

    >img {
        width: 50%;
        height: 50%;
    }
}

.color:hover {
    opacity: 1;
}

button.active {
    cursor: auto;
    opacity: 1;
}