/* Блоки */
@import "containers.css";
@import "icon.css";
@import "btn.css";
@import "nav.css";
@import "pallet.css";
@import "tools.css";
@import "chat.css";
@import "canvas.css";
@import "user.css";


* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --black: #1B1A19;
    --white: #D9D9D9;
    --yellow: #FAC670;
    --pink: #C0A8E6;
    --orange: #F37925;
    --blue: #91C3CE;

    --clr_main_1: var(--black);
    --clr_main_2: var(--white);
    --clr_main_3: var(--blue);
    --clr_main_4: var(--orange);

    --shd_cont_dark: inset 0 -20px 50px rgba(0, 0, 0, 0.1);

    --flt_light: invert(84%) sepia(3%) saturate(24%) hue-rotate(312deg) brightness(98%) contrast(96%);
    --flt_dark: invert(4%) sepia(2%) saturate(2034%) hue-rotate(349deg) brightness(94%) contrast(87%);
}

::-webkit-scrollbar {
    width: 1em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: var(--black);
    margin-inline: 2em;
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
    cursor: pointer;
}