/* Блоки */
@import "containers.css";
@import "icon.css";
@import "btn.css";
@import "nav.css";
@import "pallet.css";
@import "tools.css";
@import "chat.css";
@import "footer.css";
@import "canvas.css";
@import "user.css";


* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --black: #1B1A19;
    --white: #D9D9D9;
    --yellow: #FAC670;
    --pink: #C0A8E6;
    --orange: #F37925;
    --blue: #91C3CE;

    --clr_main_1: var(--black);
    --clr_main_2: var(--white);
    --clr_main_3: var(--blue);
    --clr_main_4: var(--orange);

    --shd_cont_dark: inset 0 -20px 50px rgba(0, 0, 0, 0.1);

    --flt_light: invert(84%) sepia(3%) saturate(24%) hue-rotate(312deg) brightness(98%) contrast(96%);
    --flt_dark: invert(4%) sepia(2%) saturate(2034%) hue-rotate(349deg) brightness(94%) contrast(87%);

    --svg_brush: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M224 263.3C224.2 233.3 238.4 205.2 262.4 187.2L499.1 9.605C517.7-4.353 543.6-2.965 560.7 12.9C577.7 28.76 580.8 54.54 568.2 74.07L406.5 324.1C391.3 347.7 366.6 363.2 339.3 367.1L224 263.3zM320 400C320 461.9 269.9 512 208 512H64C46.33 512 32 497.7 32 480C32 462.3 46.33 448 64 448H68.81C86.44 448 98.4 429.1 96.59 411.6C96.2 407.8 96 403.9 96 400C96 339.6 143.9 290.3 203.7 288.1L319.8 392.5C319.9 394.1 320 397.5 320 400V400z"/></svg>'
}

::-webkit-scrollbar {
    width: 1em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: var(--black);
    margin-inline: 2em;
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
    cursor: pointer;
}